.cover__link {
  display: block;
  max-width: 1184px;
  max-height: 740px;
  padding: 245px 0;
  background-color: rgba(42, 44, 47, .3);
  background-image: url(../../../images/cover__background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: background-color .5s linear;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, .7);
}
