.header {
  width: 92.5%;
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 0 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px 0 48px;
  }
}