.lead__caption {
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    width: 92.5%;
    margin: 8px auto 0;
  }
}